* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;

}
.container_all {
    width: 100%;
    max-width: 1000px;
    padding: 60px;
    margin-top: 10%;
    border-top: 5px solid chartreuse;
    border-right: 5px solid chartreuse;
}
.container_all img{
    width: 500px;

}
main {
    display: flex;
    margin-top:138px;
    text-decoration: none;

}
main>section>ul {
    font-size: 44px;
    list-style: none;
    line-height: 140px;
}

a i {
    color: chartreuse;
}